{% extends "base.html" %}

{% block content %}
<body background="../static/imag/fundo.png">
        <div class="cab">
            <div>
            <img src="../static/imag/logo.png" alt="logo" class="logo">
            </div>
            <nav>
            <a href="/"> Home |</a>
            <a href="/qmsomos"> Quem Somos |</a>
            <a href="/contato"> Contato | </a>
            <a href="/users"> Lista  </a>
            </nav>
        </div>
    <div class="capa">
        <img src="../static/imag/capa.png" alt="capa">
    </div>
    <div class="qm">
        <h1>
            Sobre a Universidade
        </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
            aliquid ex ea commodi consequatur. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam corporis minima quod mollitia iusto quasi
            ipsum, voluptatem rem impedit delectus, repudiandae soluta nisi repellat dolor asperiores accusantium
            commodi aliquid itaque.
        </p>
    </div>
</body>
{% endblock %}


</html>