{% extends "base.html" %}

{% block content %}

<body background="../static/imag/fundo2.png">
    <div class="cab">
        <div>
        <img src="../static/imag/logo.png" alt="logo" class="logo">
        </div>
        <nav>
        <a href="/"> Home |</a>
        <a href="/qmsomos"> Quem Somos |</a>
        <a href="/contato"> Contato | </a>
        <a href="/users"> Lista  </a>
        </nav>
    </div>
    <div class="qm">
    <h1>
        Quem somos
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam laudantium ipsam dolorum ullam quibusdam sapiente
        alias, esse non delectus ab saepe velit architecto! Amet deleniti id natus atque nisi porro?
    </p>
    <h2>
        5 motivos para estudar
    </h2>
    <ul class="li">
        <li>1. Material sempre atualizado</li>
        <li>2. Tablets em sala de aula</li>
        <li>3. Professor renomados</li>
        <li>4. Universidade bem avaliada</li>
        <li>5. Ótima localização</li>
    </ul>
    <hr>
    <h1>
        Objetivos
    </h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae aliquid similique vitae iure vero sed
        voluptate praesentium itaque quaerat? Ipsam illo quas libero maiores nemo ex nobis quae tempore explicabo.
    </p>
    </div>
</body>
{% endblock %}
</html>